.onedice{
    -fx-background-image: url("./imgs/onedice.png");
}
.twodice{
    -fx-background-image: url("./imgs/twodice.png");
}
.threedice{
    -fx-background-image: url("./imgs/threedice.png");
}
.fourdice{
    -fx-background-image: url("./imgs/fourdice.png");
}
.fivedice{
    -fx-background-image: url("./imgs/fivedice.png");
}
.sixdice{
    -fx-background-image: url("./imgs/sixdice.png");
}

.lockedone{
    -fx-background-image: url("./imgs/lockedone.png");
}
.lockedtwo{
    -fx-background-image: url("./imgs/lockedtwo.png");
}
.lockedthree{
    -fx-background-image: url("./imgs/lockedthree.png");
}
.lockedfour{
    -fx-background-image: url("./imgs/lockedfour.png");
}
.lockedfive{
    -fx-background-image: url("./imgs/lockedfive.png");
}
.lockedsix{
    -fx-background-image: url("./imgs/lockedsix.png");
}

.endgamecard{
    -fx-background-color: #b5b5b5;
}

.main{
    -fx-background-image: url("./imgs/bg.jpg");
    -fx-background-position: -250 0;
    -fx-background-repeat: no-repeat;
}